
/*
Default Font 
*/
@font-face {
    font-family: 'MYRIADPRO';
    src: local('MYRIADPRO'),
        url(~assets/fonts/MYRIADPRO-REGULAR.woff) format('woff');
}

@font-face {
    font-family: 'PlaylistScript';
    src: local('PlaylistScript'),
        url(~assets/fonts/PlaylistScript.ttf) format('truetype');
}

$font-url: 'https://fonts.googleapis.com/css?family=Tangerine:wght@700|Montserrat:wght@300&display=swap';

$cover-font: 'PlaylistScript', sans-serif;
$primary-font: 'Cormorant Infant', serif;
$secondary-font: 'MYRIADPRO', serif;
$countdown-font: 'PlaylistScript', sans-serif;
// $countdown-font: 'Alex Brush', cursive;
